name: Linting

on: pull_request

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Format files
        run: bun format

      - name: Check for changes
        run: |
          if [ -n "$(git status --porcelain | grep -v ' bun.lock$')" ]; then
            echo Following files are changed by the formatter...
            git status

            echo Changes:
            git diff

            exit 1;
          else
            exit 0;
          fi
